<div class="row">
	  <section class="col-xs-12 mainContentWrapper">
        <div  class="col-xs-4  collapseFilter">
            <div ng-include="'../navbar/navbar.html'"></div>
				</div><!-- collapseFilter ends -->

        	   		
        <div class="col-xs-8 contentBlock">
            <div class="blogsContainers" id="w">
                  <div class="blogsEnvelope" ng-repeat="article in selectedArticles">
                        <div class="blogHeader">
                              <div class="dropdown">
                                  <button class="btn btn-primary dropdown-toggle editButton" type="button" data-toggle="dropdown">
                                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                      <ul class="dropdown-menu">
                                          <li><a id="editArticle" href="#!/addArticle/{{selectedSubId}}">Edit</a></li>
                                          <li class="divider"></li>
                                          <li><a id="removeArticle" href="#" ng-click="removeArticleBlock()">Delete</a></li>
                                      </ul>
                              </div>

                          <h2>{{article.title}}</h2>
                            <span class="blogPublisherAndDate">{{article.subtitle}} - {{article.date}}</span>
                        </div>
                        <div class="blogContent">
                          <div ng-bind-html='article.article' data-html="true"></div>

                          <div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                      <h4 class="modal-title" id="gridModalLabel">{{article.title}}</h4>
                                      <span>
                                         {{article.subtitle}} - {{article.date}}
                                      </span>
                                  </div>
                                  <div class="modal-body">
                                  <div ng-bind-html='article.article' data-html="true"></div>
                                    <span>- {{article.authorname}}</span>    
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                          </div>

                          <div class="bd-example bd-example-padded-bottom">
                              <button type="button" data-toggle="modal" data-target="#gridSystemModal">
                              Read More</button>
                          </div>
                        </div><!-- blogContent ends -->
                      </div><!-- blogsEnvelopeEnds -->
                      <p id="addContentModelTab">
                        <a href="#!/addArticle/{{selectedSubId}}">
                        <i class="fa fa-plus" aria-hidden="true"></i></a>
                      </p>
                        
                </div><!-- blogsContainer Ends -->

                
                <div class="PaginationWrap"  id="q">
                    <nav aria-label="Page navigation">
  									    <ul class="pagination">
  									        <li>
                                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span>
  									            </a>
  									        </li>
  									        <li><a href="#">1</a></li>
  									        <li><a href="#">2</a></li>
  									        <li><a href="#">3</a></li>
  									        <li><a href="#">4</a></li>
  									        <li><a href="#">5</a></li>
  									        <li>
  									            <a href="#" aria-label="Next">
  									              <span aria-hidden="true">&raquo;</span>
  									            </a>
  									        </li>
  									    </ul>
								    </nav>
                </div><!-- PaginationWrap ends -->
        </div><!-- contentBlock ends -->
    </section><!-- section ends -->	
</div>                

